@font-face {
    font-family: "my-font-1";
    src: url("fonts/Gotham_regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "my-font-1";
    src: url("fonts/Gotham_black.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "my-font-2";
    src: url("fonts/barcelony_regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "my-font-1";
    font-weight: normal;
    /* background-color: black; */
    /* color: white; */
}

.profile-section{
    display: flex;
    justify-content: space-around;
    column-gap: 50px;
    margin: 0 50px;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.regular-barcelony{
    color: #9f0311;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

.profile-head-info .regular-barcelony:hover{
    background-color: white;
    width: 50%;
    color: #9f0311;
    cursor: pointer;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.search #userSearchArea{
    width: 200px;
    margin-right: 10px;
}

#search-icon{
    cursor: pointer;
    background-color: rgb(167, 165, 165);
    border-radius: 50px;
    padding: 5px;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

#search-icon:hover{
    background-color:whitesmoke;
    color: #9f0311;
}

.profile-head-data{
    display: flex;
    column-gap: 20px;
}

.profile-head-info{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: center;
}

.profile-img-wrapper{
    width: 110px;
    height: 110px;
}

#profile-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.user-contact-info{
    background-color: rgb(185, 179, 179);
    margin: 20px 0px;
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 50px;
    border-radius: 30px;
}

.post-head{
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-post-button{
    display: flex;
    padding: 10px;
    height: 30px;
    align-items: center;
    color: white;
    background-color: #9f0311;
    border-radius: 20px;
    border-style: none;
    transition: all 0.5s ease-in-out;
}

#add-post-icon{
    color: white;
    font-size: 23px;
}

#add-post-button:hover{
    color: #9f0311;
    background-color: white;
    cursor: pointer;
}

#add-post-button:hover #add-post-icon{
    color: #9f0311;
    cursor: pointer;
}

#post-info-grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 30px;
}

.post-card{
    box-sizing: border-box;
    width: 180px;
    max-height: 200px;
    transition: all 0.5s ease-in-out;
    background-color: grey;
    border-radius: 20px;
}

#post-option-buttons{
    margin: 5px 10px;
    display: none;
    justify-content: space-between;
}

#post-option-buttons button{
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}


#post-body{
    padding:80px 0px 10px 20px;
    background-color: #FD99A1;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.post-card:hover #post-option-buttons{
    display: flex;
    transition: all 1s ease-in;
}

.register-user{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.register-application, #update-application{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.register-application input{
    display: block;
    margin: 20px auto;
}

#update-application input{
    display: block;
    margin: 20px auto;
}

.register-application button{
    background-color: #9f0311;
    color: #e9eaea;
    margin-top: 30px;
    letter-spacing: 1px;
    padding: 15px 70px;
    border: 0px;
    transition: all 0.5s ease-in-out;
}

#update-application button{
    background-color: #9f0311;
    color: #e9eaea;
    margin-top: 30px;
    letter-spacing: 1px;
    padding: 15px 70px;
    border: 0px;
    transition: all 0.5s ease-in-out;
}

.register-application button:hover{
    background-color: #ffffff;
    color: #9f0311;
    cursor: pointer;
}

#update-application button:hover{
    background-color: #ffffff;
    color: #9f0311;
    cursor: pointer;
}

.show-users{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}